 <div class="container">
	<div 
	class="row mb-2"
	>
		<div class="col-md-2">Find by name:</div>
		<div class="col-md-4">
			<input class="form-control" type="text"
			[(ngModel)]='listFilter'
			>
		</div>
	</div>
	<div *ngIf = "filteredDishes$ | async as filteredDishes" class="table-responsive">
		<table class="table table-striped table-hover"
		[ngClass]="{
			'table-dark': theme$ | async
		}"
		>
			<thead>
				<tr [ngClass]="{
					'table-light': (theme$ | async) == false,
					'table-dark': theme$ | async
				}">
					<th>Dish</th>
					<th>Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>Description</th>
					<th>Average Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr
				style="cursor: pointer;"
				*ngFor="let dish of filteredDishes"
				(click)="onDishClicked(dish)">
					<td>
						<img [src]='dish.imageUrl'
						[title]='dish.name'
						class="img-fluid" 
						>
					</td>
					<td>{{dish.name | uppercase}}</td>
					<td>{{dish.category | capitalize}}</td>
					<td>{{dish.price | currency:'USD':'symbol':'1.2-2'}}</td>
					<td>{{dish.description}}</td>
					<td>
						<app-star
						[rating]='dish.starRating'
						>
						</app-star>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>