<mat-card>
	<mat-card-title>LOGIN</mat-card-title>
	<mat-card-content>
		<form novalidate (ngSubmit)="login()" [formGroup]="userForm">
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Email</mat-label>
				<input
					matInput
					type="email"
					id="email"
					formControlName="email" />
				<mat-error
					*ngIf="
						userForm.get('email')?.invalid &&
						userForm.get('email')?.touched
					">
					Email is required
				</mat-error>
			</mat-form-field>
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Password</mat-label>
				<input
					matInput
					minlength="4"
					type="password"
					id="password"
					formControlName="password" />
				<mat-error
					*ngIf="
						userForm.get('password')?.invalid &&
						userForm.get('password')?.touched
					">
					Password should be atleast 4 characters long
				</mat-error>
			</mat-form-field>
			<!-- <div
				*ngIf="error$ | async as error"
				class="alert alert-danger alert-dismissible">
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"></button>
				{{ error }}
			</div> -->
			<button
				mat-raised-button
				type="submit"
				[color]="darkTheme ? 'primary' : 'accent'">
				Login
			</button>
		</form>
	</mat-card-content>
</mat-card>
