<mat-toolbar [color]="darkTheme ? 'primary' : 'accent'">
	<mat-toolbar-row class="d-flex justify-content-around">
		<a>Welcome {{ currentUser.first_name }} {{ currentUser.last_name }}</a>
		<button
			[color]="darkTheme ? 'accent' : 'primary'"
			mat-icon-button
			routerLink="detail"
			routerLinkActive="active">
			<mat-icon>info</mat-icon>
			<span>Info</span>
		</button>
		<button
			[color]="darkTheme ? 'accent' : 'primary'"
			mat-icon-button
			routerLink="edit"
			routerLinkActive="active">
			<mat-icon>edit</mat-icon>
			<span>Edit</span>
		</button>
		<button
			[color]="darkTheme ? 'accent' : 'primary'"
			mat-icon-button
			routerLink="detail"
			routerLinkActive="active"
			(click)="logout()">
			<mat-icon>logout</mat-icon>
			<span>Logout</span>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
