<nav [ngClass]="{
	'navbar navbar-expand mb-3': true,
	'navbar-light bg-light': (darkTheme == false),
	'navbar-dark bg-dark' : darkTheme
	}">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Welcome {{currentUser.first_name}} {{currentUser.last_name}}</a>
		</div>
			<ul class="nav nav-pills align-items-baseline">
				<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="detail">Detail</a></li>
				<li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="edit">Edit</a></li>
				<li class="nav-item"><a (click)="logout()" style="cursor: pointer;" class="nav-link">Logout</a></li>
			</ul>
		</div>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div>