<!-- Toolbar -->
<mat-toolbar [color]="darkTheme ? 'primary' : 'accent'" class="mat-header">
	<mat-toolbar-row>
		<span class="nav-tool-items">
			<mat-icon (click)="sidenav.toggle()" class="mat-hamburger"
				>menu</mat-icon
			>
		</span>
		<a
			mat-button
			[color]="darkTheme ? 'accent' : 'primary'"
			routerLink="welcome"
			>{{ pageTitle }}</a
		>
	</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
	<!-- Sidenav -->
	<mat-sidenav #sidenav [mode]="isScreenSmall ? 'side' : 'over'">
		<mat-nav-list>
			<a
				mat-list-item
				[routerLink]="auth ? ['/menu'] : ['/user/login']"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }">
				<span *ngIf="auth">Menu</span>
				<span *ngIf="!auth">Login</span>
			</a>
			<a
				mat-list-item
				[routerLink]="auth ? ['/menu/add'] : ['/user/register']"
				routerLinkActive="active">
				<span *ngIf="auth">Add Dish</span>
				<span *ngIf="!auth">Register</span>
			</a>

			<div *ngIf="auth">
				<a
					mat-list-item
					routerLink="/profile"
					routerLinkActive="active">
					<span>Settings</span>
				</a>
			</div>
			<mat-slide-toggle (change)="onThemeChange($event.checked)">
			</mat-slide-toggle>
		</mat-nav-list>
	</mat-sidenav>

	<!-- Main content -->
	<mat-sidenav-content>
		<div class="mt-3">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar [color]="darkTheme ? 'primary' : 'accent'" class="mat-footer">
	<mat-toolbar-row class="mat-caption-container">
		<p class="mat-caption">
			Made with <mat-icon>favorite</mat-icon> by Ritik Singla
		</p>
	</mat-toolbar-row>
</mat-toolbar> -->
