<mat-card [ngClass]="{ 'bg-dark text-light': darkTheme }">
	<mat-card-title>New Dish</mat-card-title>
	<mat-card-content>
		<form novalidate (ngSubmit)="addOrUpdateDish()" [formGroup]="dishForm">
			<!-- Dish Name -->
			<mat-form-field style="width: 100%" apperance="fill">
				<mat-label>Name</mat-label>
				<input matInput type="text" id="name" formControlName="name" />
				<mat-error
					*ngIf="
						dishForm.get('name')?.invalid &&
						dishForm.get('name')?.touched
					">
					Please enter dish name
				</mat-error>
			</mat-form-field>

			<!-- Dish Image -->
			<mat-form-field style="width: 100%" apperance="fill">
				<mat-label>Image URL</mat-label>
				<input
					matInput
					type="text"
					id="imageUrl"
					formControlName="imageUrl" />
				<mat-error
					*ngIf="
						dishForm.get('imageUrl')?.invalid &&
						dishForm.get('imageUrl')?.touched
					">
					Please enter image url
				</mat-error>
			</mat-form-field>

			<!-- Category -->
			<mat-form-field style="width: 100%" apperance="fill">
				<mat-label>Category</mat-label>
				<mat-select
					type="text"
					id="category"
					formControlName="category">
					<mat-option
						*ngFor="let categ of categories$ | async"
						[value]="categ"
						>{{ categ }}</mat-option
					>
				</mat-select>
				<mat-error
					*ngIf="
						dishForm.get('category')?.invalid &&
						dishForm.get('category')?.touched
					">
					Please select dish category
				</mat-error>
			</mat-form-field>

			<!-- Label -->
			<mat-form-field style="width: 100%" apperance="fill">
				<mat-label>Label</mat-label>
				<mat-select type="text" id="mat-label" formControlName="label">
					<mat-option
						*ngFor="let label of labels$ | async"
						[value]="label"
						>{{ label }}</mat-option
					>
				</mat-select>
				<mat-error
					*ngIf="
						dishForm.get('label')?.invalid &&
						dishForm.get('label')?.touched
					">
					Please select dish label
				</mat-error>
			</mat-form-field>

			<!-- Description -->
			<mat-form-field style="width: 100%" apperance="fill">
				<mat-label>Description</mat-label>
				<textarea
					matInput
					maxlength="100"
					id="description"
					formControlName="description"></textarea>
				<mat-error
					*ngIf="
						dishForm.get('description')?.invalid &&
						dishForm.get('description')?.touched
					">
					Description should be between 1 to 100 words
				</mat-error>
			</mat-form-field>

			<!-- Price -->
			<mat-form-field class="me-3" apperance="fill" floatLabel="always">
				<mat-label>Price</mat-label>
				<input
					matInput
					class="text-end"
					type="number"
					id="price"
					formControlName="price" />
				<span matPrefix>$&nbsp;</span>
				<mat-error
					*ngIf="
						dishForm.get('price')?.invalid &&
						dishForm.get('price')?.touched
					">
					Price should be non negative
				</mat-error>
			</mat-form-field>

			<button mat-raised-button color="primary" type="submit">
				{{ btnTitle }}
			</button>
		</form>
	</mat-card-content>
</mat-card>
