<mat-card>
	<mat-card-title>User Settings</mat-card-title>
	<mat-card-content>
		<form (ngSubmit)="updateUser()" [formGroup]="userForm">
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>First Name</mat-label>
				<input
					matInput
					type="text"
					id="first_name"
					formControlName="first_name" />
				<mat-error
					*ngIf="
						userForm.get('first_name')?.invalid &&
						userForm.get('first_name')?.touched
					">
					FirstName should be between 1-20 characters long
				</mat-error>
			</mat-form-field>
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Last Name</mat-label>
				<input
					matInput
					type="text"
					id="last_name"
					formControlName="last_name" />
				<mat-error
					*ngIf="
						userForm.get('last_name')?.invalid &&
						userForm.get('last_name')?.touched
					">
					LastName should be between 1-20 characters long
				</mat-error>
			</mat-form-field>

			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Email</mat-label>
				<input
					matInput
					type="email"
					id="email"
					formControlName="email" />
				<mat-error
					*ngIf="
						userForm.get('email')?.invalid &&
						userForm.get('email')?.touched
					">
					Please enter email
				</mat-error>
			</mat-form-field>
			<button
				mat-raised-button
				[color]="darkTheme ? 'primary' : 'accent'"
				type="submit">
				Update
			</button>
		</form>
	</mat-card-content>
</mat-card>
