<mat-card>
	<mat-card-title>REGISTER</mat-card-title>
	<mat-card-content>
		<form novalidate (ngSubmit)="register()" [formGroup]="userForm">
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>First Name</mat-label>
				<input
					matInput
					type="text"
					id="first_name"
					formControlName="first_name" />
				<mat-error
					*ngIf="
						userForm.get('first_name')?.touched &&
						userForm.get('first_name')?.invalid
					">
					Please enter first name
				</mat-error>
			</mat-form-field>
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Last Name</mat-label>
				<input
					matInput
					type="text"
					id="last_name"
					formControlName="last_name" />
				<mat-error
					*ngIf="
						userForm.get('last_name')?.touched &&
						userForm.get('last_name')?.invalid
					">
					Please enter last name
				</mat-error>
			</mat-form-field>

			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Email</mat-label>
				<input
					matInput
					type="email"
					id="email"
					formControlName="email" />
				<mat-error
					*ngIf="
						userForm.get('email')?.touched &&
						userForm.get('email')?.invalid
					">
					Please enter email
				</mat-error>
			</mat-form-field>
			<mat-form-field
				[color]="darkTheme ? 'primary' : 'accent'"
				style="width: 100%"
				appearance="fill">
				<mat-label>Password</mat-label>
				<input
					matInput
					type="password"
					id="password"
					formControlName="password" />
				<mat-error
					*ngIf="
						userForm.get('password')?.touched &&
						userForm.get('password')?.invalid
					">
					Password should be atleast 4 characters long
				</mat-error>
			</mat-form-field>
			<button
				mat-raised-button
				type="submit"
				[color]="darkTheme ? 'primary' : 'accent'">
				Register
			</button>
		</form>
	</mat-card-content>
</mat-card>
